@model List<PackingHub.Models.Cargo>
<h2>Шаг 1: Выберите грузы</h2>
@foreach (var cargo in Model)
{

    <div class="address-cards">
        <div class="card">
            <h3>Груз: @cargo.Name</h3>
            <p>Размеры: @cargo.Length м. x @cargo.Width м. х @cargo.Height м.</p>
            <label>
                <input type="checkbox" name="cargos" value="@cargo.Number" />
            </label>
        </div>
    </div>
}
<button class="menu-button" onclick="loadStep('GetContainers')">Далее</button>
