@model List<PackingHub.Models.Container>

<div class="address-cards">
    @foreach (var address in Model)
    {
        <div class="card">
            <h3>Контейнер №@address.Number</h3>
            <p>@address.Name</p>
            <p>Длина: @address.Length м., Ширина: @address.Width м., Высота: @address.Height м.</p>
            <p>Вес контейнера: @address.Weight кг.</p>
            <p>Толщина стенок: @address.WallThickness см.</p>
            <p>Статус: @address.Status</p>
        </div>
    }
</div>
