@model List<PackingHub.HelperMethods.RouteWithAddressArray>
<h2>Шаг 3: Выберите маршрут</h2>
@foreach (var cargo in Model)
{
    <div class="address-cards">
        <div class="card">
            <h3>Номер маршрута: @cargo.RouteNumber</h3>
            <br />
            <p>Длина маршрута: @cargo.Length км.</p>
            <br />
            <p>Дата отправления: @cargo.DepartureDate</p>
            <br />
            <p>Дата прибытия: @cargo.ArrivalDate</p>
            <br />
            <p>Адреса:</p>
            <select name="addresses_@cargo.RouteNumber">
                <option value="empty"></option> 
                @foreach (var address in cargo.addresses) // Предполагается, что у каждого груза есть список адресов
                {
                    <option value="@address.Id">г. @address.City, ул. @address.Street, д. @address.House</option>
                }
            </select>
            <br />
            <br />
            <p>Транспорт: @cargo.transport.Brand @cargo.transport.Model</p>
            <br />
            <label>
                <input type="radio" name="cargos" value="@cargo.RouteNumber" />
            </label>
        </div>
    </div>
}
<br />
<div class="button-container">
    <button class="action-button" onclick="submitLoad()">Готово</button>
    <button class="action-button">Назад</button>
    <button class="action-button">Отмена</button>
</div>
